<ul>
  <li><%= link_to "Signup", "#" %></li>
  <li><%= link_to "Login", "#" %></li>
  <li><%= link_to "Logout", "#" %></li>
<<<<<<< HEAD
</ul>

<!-- this is a comment -->
=======
</ul>
>>>>>>> 8737836accfc7d3bd7b5fcbcbe33f75b0902f4af
